$greenColor: #07db96;
$blackColor: #000000;
$lightBlack: #3e3e3e;
$whiteColor: #ffffff;
$offWhiteColor: #f7f6f6;
$darkGreyColor: #656565;
$midGreyColor: #8b8b8b;
$lightGreyColor: #d5d5d5;
$transparentColor: transparent;
$redColor: #dc3545;
